.input {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.input-label {
  user-select: none;
  font-size: 0.75rem;
}

.input-text {
  width: 100%;
  outline: none;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #777;
}

.editable {
  color: #111;
}
