.citas {
  padding: 15px;
  box-shadow: 0 0 4px 2px #ccc;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  height: 95%;
  width: 90%;
  overflow-y: scroll;
  position: relative;
}

.citas::-webkit-scrollbar {
  display: none;
}

.citas button {
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--secondary-color);
  outline: none;
  width: 28px;
  height: 28px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  user-select: none;
}

.citas button:active {
  transform: scale(1.05);
  filter: saturate(0.8);
}

.cita {
  display: flex;
  text-decoration: none;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
  font-size: 1rem;
}
